.example-card {
    margin: 1rem;
    min-width: 20rem;
    display: flex;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    
}

.example-header-image {
    background-image: url('./assets/ambev.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


mat-card-actions {
    display: flex;
    justify-content: center;
}

.custom-card-image {
    width: 100%;
    max-width: 12rem;
    max-height: 8rem;
    object-fit: contain;
    background-position: center;
    border-radius: 8px;
}

mat-card-subtitle {
    color: black;
}