.title {
    display: flex;
    width: 100%;
    justify-content: center;
}


.container {
    width: 100%;
}

div .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.cardVenda {
    margin: 1rem;
    background-color: #121212;
}

.cardProdutos {
    background-color: #121212;
    color: white;
}