<mat-toolbar>Detalhes da Venda</mat-toolbar>
<div class="container" mat-dialog-content>
    <form>
        <mat-form-field>
            <div class="mat-labelDiv">
                <mat-label>COD</mat-label>
            </div>
            <input matInput disabled value="{{vendaObjeto?.id}}">
        </mat-form-field>

        <mat-form-field>
            <div class="mat-labelDiv">
                <mat-label>Data e Hora da Venda:</mat-label>
            </div>
            <input matInput disabled value="{{vendaObjeto?.dataVenda}}">
        </mat-form-field>

        <mat-form-field>
            <div class="mat-labelDiv">
                <mat-label>Nome do Cliente:</mat-label>
            </div>
            <input matInput disabled value="{{vendaObjeto?.cliente?.nome}}">
        </mat-form-field>

        <mat-form-field>
            <div class="mat-labelDiv">
                <mat-label>Método de Pagamento</mat-label>
            </div>
            <input matInput disabled value="{{vendaObjeto?.metodoPagamento}}">
        </mat-form-field>
        <mat-divider></mat-divider>

        <div class="Title">
            <h2>Produtos</h2>
        </div>

        <mat-form-field appearance="fill" matBadge={{p.quantidade}} matBadgeSize="medium" matBadgeOverlap="false"
            matBadgeColor="primary" *ngFor="let p of vendaObjeto?.produtos">
            <div class="containerImgProduto">
                <img [src]="p.img" alt="Imagem do Produto" class="informationImg" >
            </div>
            <div class="mat-labelDiv"><mat-label>{{p.nome.length > 13 ? (p.nome | slice:0:13) + '...' :p.nome }} R$
                    {{p.preco}}</mat-label></div>
            <div class="containerProduto">
                <span>Quantidade: {{p.quantidade}}</span>
                <textarea matInput class="textAreaProduto" disabled
                    style="color: #121212;">Categoria: {{p.categoria_Produto.nome}}</textarea>
                <span>Subtotal: R$ {{p.subTotal}}</span>
            </div>
        </mat-form-field>

        <div class="Title">
            <h2>Total Da Venda</h2>
        </div>
        
        <mat-form-field class="totalVenda">
            <div class="mat-labelDiv"><mat-label>Total da Venda</mat-label></div>
            <input matInput disabled value="R$:{{vendaObjeto?.totalVenda}}">
        </mat-form-field>

    </form>

    <div class="buttons" mat-dialog-actions>
        <button mat-raised-button (click)="closeDialogVenda()"
            class="btnFecharVenda">{{buttons.btnFechar.name}}</button>
    </div>
</div>