<div class="container">
    <mat-toolbar>Detalhes da Venda</mat-toolbar>
    <mat-divider></mat-divider>
    <form class="">
        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput disabled value="{{vendaObjeto?.id}}">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Data e Hora da Venda:</mat-label>
            <input matInput disabled value="{{vendaObjeto?.dataHora}}">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nome do Cliente:</mat-label>
            <input matInput disabled value="{{vendaObjeto?.cliente}}">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Método de Pagamento</mat-label>
            <input matInput disabled value="R$:{{vendaObjeto?.metodoPagamento}}">
        </mat-form-field>
        <div class="Title">
            <h2>Produtos</h2>
        </div>

        <mat-form-field matBadge={{p.quantidade}} matBadgeOverlap="false" matBadgeColor="accent"  *ngFor="let p of vendaObjeto?.produtos">
            <mat-label>Categoria: {{p.tipoProduto}}</mat-label>
            <textarea matInput disabled style="color: #121212;">{{p.nome}} R$:{{p.precoUnitario}} 
Subtotal: R$:{{p.subtotal}}</textarea>
        </mat-form-field>

        <div class="Title">
            <h2>Total Da Venda</h2>
        </div>
        <mat-form-field class="totalVenda">
            <mat-label>Total da Venda</mat-label>
            <input matInput disabled value="R$:{{vendaObjeto?.totalVenda}}">
        </mat-form-field>

    </form>
    <div class="buttons" mat-dialog-actions>
        <button mat-raised-button (click)="closeDialogVenda()"
            class="btnFecharVenda">{{buttons.btnFechar.name}}</button>
    </div>
</div>