.editActionVendas:hover,
.deleteActionVendas:hover,
.informacaoActionVendas:hover {
    opacity: 1;
}

th {
    background-color: #121212;
}

.editActionVendas,
.deleteActionVendas,
.informacaoActionVendas {
    opacity: 0.7;
    margin: 2px;
    // width: 100%;
    border-radius: 4px;
}

.editActionVendas {
    background-color: yellow;
    color: #121212;
    width: 50%;
}

.deleteActionVendas {
    width: 50%;

    background-color: red;
}

.informacaoActionVendas {
    background-color: gray;
}

.deleteActionVendas {
    justify-content: center;
}

.deleteActionVendas span {
    text-align: center;
}

.actionsButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

td button {
    padding: 0.1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.editActionVendas:hover {
    color: white;
    opacity: 1;
    transition: background-color 0.5s;
}

.deleteActionVendas:hover {
    opacity: 1;

    color: white;
    transition: background-color 0.5s;
}

.informacaoActionVendas:hover {
    opacity: 1;

    color: white;
    transition: background-color 0.5s;
}

mat-toolbar {
    width: 100%;
    background-color: yellow;
}

mat-card {
    // background-color: transparent;
    margin: 1rem;
    opacity: 1;
}

mat-form-field {
    width: 100%;
}