.formFieldCliente,
.formFieldmetodoPagamento,
.formFieldStatusPagamento,
.formFieldQuantidadeProdutos {
    width: 100%;
    padding: 1rem;
}

.dialogContent {
    background-color: #121212b2;
}

.formFieldProdutos {
    display: flex;
    width: 70%;
    padding: 1rem;
}


.containerProdutos {
    display: flex;
    width: 100%;
}

.actionsContent {
    display: flex;
    justify-content: center;
    padding: 1rem;

    .fieldACtionsButtons {
        display: flex;
        justify-content: center;

        .buttonCloseNovaVendaDialog {
            padding: 1rem;
            margin: 1rem;
        }

        .buttonCadastrarNovaVenda {
            padding: 1rem;
            margin: 1rem;
            background-color: green;
            color: white;
        }

        .buttonCadastrarNovaVenda:disabled {
            padding: 1rem;
            margin: 1rem;
            background-color: gray;
            color: white;
        }


    }
}


.cardsSelecionadosContent {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .cardProdutosSelecionados {
        display: flex;
        // padding: 1rem;
        justify-content: center;
        flex-wrap: wrap;

        .titleContent {
            display: flex;
            justify-content: center;
        }
    }
}

.contentCloseDialog{
    display: flex;
    padding: 0.5rem;
    &:hover{
        cursor: pointer;
        border-radius: 100%;
        background-color: #1212128b;
    }
}

.toolBarContent {
    display: flex;
    background-color: yellow;
    color: #121212;
    justify-content: space-between;
    padding: 1rem;
}

.toolBarProdutosSelecionados {
    display: flex;
    color: #121212;
    justify-content: center;
}

.formContainer {
    display: flex;
    flex-wrap: wrap;
}

.produtoSemEstoque {
    color: red;
    font-weight: 600;
    margin-top: 1rem;
}

.add_circle {
    color: green;
    padding: 0.5rem;
    border-radius: 100%;
}

.remove_circle {
    color: red;
    padding: 0.5rem;
    border-radius: 100%;
}

.informationsProduct {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}

.imageProduct {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    .imageProductimg {
        width: 80px;
        height: 80px;
        object-fit: contain;
    }
}

.informationsProduct2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    justify-content: center;
}


.selected-products {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-product {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quantity-controls {
    margin-left: auto;
    display: flex;
    align-items: center;
}