span {
    display: flex;
    text-align: center;
    align-items: center;

    p {
        margin: 0px;
        padding: 0px;
    }

}

mat-list-item {
    padding: 1rem 0px;

    button {
        padding: 3rem;
    }
}

mat-toolbar{
    color:black;
    background-color: yellow;
}


.toolbarMenu {
    padding: 2rem 4rem;
}

.example-spacer {
    flex: 1 1 auto;
}