span {
    display: flex;
    text-align: center;
    align-items: center;

    p {
        margin: 0px;
        padding: 0px;
    }

}



.toolbarMenu{
    padding: 2rem 4rem;
}
.example-spacer {
    flex: 1 1 auto;
}