<mat-toolbar class="mat-elevation-z3">
    <button (click)="toggleDrawer()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/home" class="logoHome">
        <span>
            <img src="../../assets/beerPNG.png" alt="" width="48px" height="48px">
            <p>Gestão Beer</p>
            <img src="../../assets/beerPNG.png" alt="" width="48px" height="48px">
        </span>
    </a>
    <span class="example-spacer"></span>

</mat-toolbar>

<app-menu-lateral></app-menu-lateral>