<mat-toolbar>
    <span>Definir Baixo Estoque</span>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <img src="{{produto.img}}" class="imgProdutoEstoque">
        <div class="containerProdutoInformations">
            <h3>{{produto.nome}}</h3>
            <p>Preço : {{produto.preco}}</p>
            <p>Estoque : {{produto.quantidadeEstoque}}</p>
        </div>
    </mat-card-content>

    <mat-card-content [formGroup]="form">
        <mat-form-field>
            <input matInput placeholder="Quantidade" type="text" min="0" pattern="[0-9]*"
                formControlName="estoqueMinimo"
                oninput="this.value = !!this.value && Math.abs(this.value) >= 0? Math.abs(this.value):null">
        </mat-form-field>
    </mat-card-content>
    <mat-error>
        <span *ngIf="form.controls['estoqueMinimo'].hasError('required')">Quantidade é obrigatório</span>
    </mat-error>

    <mat-card-content>
        <button class="buttonAdcEstoque" [disabled]="!this.form.valid" mat-raised-button
            (click)="definirBaixoEstoque(this.form.value!)">Definir Baixo Estoque</button>
        <button class="buttonCancelarAdc" mat-raised-button (click)="cancelar()">Cancelar</button>
    </mat-card-content>

</mat-card>