<mat-card class="example-card" [@fadeIn]>
    <mat-card-content>
        <mat-toolbar class="mat-elevation-z3">
            Painel Inicial
            <span class="example-spacer"></span>

            <button [matMenuTriggerFor]="novaAcao" mat-button class="btnNovaAcao">
                <mat-icon>add</mat-icon>
                Novo
            </button>
            <mat-menu #novaAcao>
                <mat-list-item>
                    <a mat-menu-item>
                        <mat-icon>shopping_cart</mat-icon>
                        Compra
                    </a>
                </mat-list-item>

                <mat-list-item>
                    <a mat-menu-item>
                        <mat-icon>sell</mat-icon>
                        Venda
                    </a>
                </mat-list-item>
            </mat-menu>


        </mat-toolbar>
    </mat-card-content>
</mat-card>