mat-toolbar {
    background-color: yellow;
}

mat-list-item:hover {
    background-color: yellow;
    opacity: 0.8;
}

mat-card {
    border: none;
    background-color: transparent;
}


.example-card {
    max-width: 400px;
    margin: 15px;
}

.example-header-image {
    background-image: url('../../assets/beerPNG.png');
    background-size: cover;
}

.btnNovaAcao {
    color: yellow;
    opacity: 0.91;
    background-color: #121212;
    margin: 1rem;
}


.btnNovaAcao:hover {
    background-color: #121212;
    color: yellow;
    opacity: 1;
    transition: background-color 0.5s;
}

.spacer {
    flex: 1 1 auto;
}