mat-nav-list {
    padding: 0px;
}

mat-checkbox {
    color: yellow;
}

mat-list-item {
    button {
        color: white;
        padding: 3rem;
        min-width: 100%;

    }

    button:hover {
        border-color: none;
        background-color: yellow;
        color: #121212;
        transition: background-color 0.5s;
    }
}


mat-drawer {
    background-color: #121212;
    border: none;
}

mat-drawer-content {
    border: none;
    background-color: #212121;
}