mat-list-item {

    button {
        padding: 1rem 2rem;
        min-width: 100%;
    }
}

mat-nav-list {
    padding: 0px;
}


mat-list-item {
    button {
        color: white;
        padding: 2rem;
    }
    margin: 1rem 0px;

    button:hover {
        border: 1px solid;
        border-color: yellow;
        color: yellow;
        transition: 0.5s;
    }
}


mat-drawer {
    background-color: #121212;

    border: none;
}

mat-drawer-content {
    border: none;
    background-color: #212121;
}